<table>
  <thead>
    <th>Name</th><th>Email</th><th>Phone</th>
  </thead>
  <tbody>
    <% @contacts.each do |person| %>
      <tr>
        <td><%= person.first_name %> <%= person.last_name %></td><td><%= person.email %></li></td><td><%= person.phone %></td><td><a href="/contacts/<%= person.id %>">View</a></td><td><a href="/contacts/edit/<%= person.id %>">Edit</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="add-new">
  <input id="add-new-btn" type="submit" method="post" action="/contacts/new" value="Add New">

  <form class="new-contact-form" action="/contacts/new" method="post">
    <input type="text" name="first_name" placeholder="first_name">
    <input type="text" name="last_name" placeholder="last_name">
    <input type="text" name="street" placeholder="street">
    <input type="text" name="city" placeholder="city">
    <input type="text" name="state" placeholder="state">
    <input type="text" name="zip" placeholder="zip">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="phone" placeholder="phone">
    <input id="add-contact-btn" type="button" value="Add Contact">
  </form>
</div>
