<h1>EDIT PAGE TO COME </h1>
<h2><%= @contact.first_name %> <%= @contact.last_name %></h2>
<ul>
  <li><%= @contact.street %></li>
  <li><%= @contact.city %></li>
  <li><%= @contact.state %></li>
  <li><%= @contact.zip %></li>
  <li><%= @contact.email %></li>
  <li><%= @contact.phone %></li>
</ul>
